.ColorBox {
  width: 180px;
  height: 180px;
  position: relative;
}

.ColorBox:hover .copy-button, .ColorBox:hover .color-value {
  opacity: 1;
  transition: .5s ;
}

.ColorBox .copy-button {
  opacity: 0;
  position: absolute;
  display: inline-block;
  text-align: center;
  top: 50%;
  right: 50%;
  transform: translate(50%, -80%);
  font-size: var(--sl-font-size-large);
}

.ColorBox .color-value {
  opacity: 0;
  position: absolute;
  display: inline-block;
  text-align: center;
  top: 60%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: var(--sl-font-size-small);
}

.ColorBox .details {
  width: 100%;
  font-size: var(--sl-font-size-medium);
  position: absolute;
  bottom: 0;
  padding: .3rem;
  display: flex;
  align-items: center;
}

.ColorBox .details .color-name {
  width: calc(100% - .2rem);
  text-wrap: nowrap;
  overflow: hidden;
}
