.Home {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}

.home-palettes {
  padding: 65px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  animation: fadeIn .3s ease-in-out;
}

.Drawer::part(panel) {
  top: 50px;
  width: 50vw;
  height: calc(100% - 50px);
  max-width: 270px;
  background-color: #1b1b1b;
}

/* huge */
@media screen and (min-width: 1821px) {
  .home-palettes {
    padding: 85px calc((100vw - 5 * 180px) / 2);
  }
}

/* large */
@media screen and (max-width: 1820px) {
  .home-palettes {
    padding: 85px calc((100vw - 4 * 180px) / 2);
  }
}

/* medium */
@media screen and (max-width: 1024px) {
  .home-palettes {
    padding: 85px calc((100vw - 3 * 180px) / 2);
  }
}

/* small */
@media screen and (max-width: 767px) {
  .home-palettes {
    padding: 85px calc((100vw - 2 * 180px) / 2);
  }
}

/* tiny */
@media screen and (max-width: 480px) {
  .home-palettes {
    padding: 85px calc((100vw - 1 * 180px) / 2);
  }
}
