.Home {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  position: relative;
}

.home-palettes {
  display: flex;
  height: min-content;
  flex-wrap: wrap;
  gap: 5px;
  padding: 60px 0 50px 0;
  animation: fadeIn .3s ease-in-out;
}

.Home .Empty {
  padding-top: 95px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.Drawer::part(panel) {
  top: 50px;
  height: calc(100% - 50px);
}

/* monitor */
@media screen and (min-width: 1501px) {
  .home-palettes {
    width: calc(5 * 180px);
  }
}

/* laptop */
@media screen and (max-width: 1500px) {
  .home-palettes {
    width: calc(4 * 180px);
  }
}

/* small laptop */
@media screen and (max-width: 1140px) {
  .home-palettes {
    width: calc(4 * 180px);
  }
}

/* tablet */
@media screen and (max-width: 940px) {
  .home-palettes {
    width: calc(4 * 180px);
  }
}

/* small tablet */
@media screen and (max-width: 740px) {
  .home-palettes {
    width: calc(3 * 180px);
  }
}

/* phone */
@media screen and (max-width: 540px) {
  .home-palettes {
    width: calc(2 * 180px);
  }
}

/* small phone */
@media screen and (max-width: 359px) {
  .home-palettes {
    width: calc(1 * 180px);
  }
}
