.MiniPalette {
  width: 172px;
  height: 172px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: var(--sl-shadow-x-large);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.MiniPalette:hover {
  background-color: var(--primary);
  .options {
    background-color: var(--primary)
  }
}

.MiniPalette .goto {
  top:0;
  bottom: 0;
  right: 0;
  left:0;
  position: absolute;
  text-decoration: none;
  color: inherit
}

.minipalette-colors {
  width: 100%;
  height: calc(100% - 20px);
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

.minipalette-color {
  width: calc(100% / 5);
  height: calc(100% / 4);
}

.minipalette-footer {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px
}

.minipalette-name {
  font-size: .9rem;
  line-height: .9rem;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  overflow: hidden;
}

.MiniPalette .options {
  position: absolute;
  height: calc(100% / 4.735);
  top: 4.25px;
  right: 4px;
  padding: 0 5.35px;
  display: flex;
  align-items: center;
  color: #000;
  background-color: #fff;
  box-sizing: border-box;
  font-size: var(--sl-font-size-x-large);
  line-height: var(--sl-font-size-x-large);
  border-top-right-radius: var(--sl-border-radius-small);
}

.MiniPalette .Icon {
  position: absolute;
  top: 4px;
  right: 4px;
  height: calc(100% / 4.735);
  width: calc(100% / 5.25);
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: red; */
  background-color: #fff;
  cursor: pointer;
}

.MiniPalette .options:hover {
  color: var(--primary);
  background-color: #151515
}

.MiniPalette .Icon:hover {
  color: red;
  background-color: #151515
}

.MiniPalette .menu-item::part(label) {
  font-size: var(--sl-font-size-x-small);
  padding-left: 5px;
}

.MiniPalette .menu-item::part(base) {
  padding: 3px 10px;
}

.MiniPalette .menu-item::part(checked-icon),
.MiniPalette .menu-item::part(submenu-icon) {width: 0}
