nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 65px;
  z-index: 5;
}

nav .top,
.bottom {
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
  gap: 5px;
}

nav .top {
  padding: 10px 0;
  height: 40px;
  justify-content: space-evenly;
}

nav .bottom {
  height: 25px;
  background-color: #252525;
  justify-content: center;
  align-items: center;
}

.nav-part {
  display: flex;
  gap: 10px;
}

nav .back-button,
.home-button {
  display: flex;
  background: none;
  color: #bbb;
  font-size: var(--sl-font-size-x-large);
  line-height: var(--sl-font-size-x-large);
}

nav .new-button,
nav .save-button,
nav .del-button {
  display: flex;
  color: white;
  background: #353535;
  padding: 5px;
  border-radius: var(--sl-border-radius-medium);
  font-size: var(--sl-font-size-small);
  line-height: var(--sl-font-size-small);
}

nav .back-button:hover,
.home-button:hover {
  color: var(--primary)
}

nav .Name {
  display: flex;
  gap: 3px;
  font-size: var(--sl-font-size-large);
  line-height: var(--sl-font-size-large);
  align-items: center;
  font-weight: 600;
  background: #353535;
  padding: 3px 5px;
  border-radius: var(--sl-border-radius-small);
  cursor: pointer;
}

nav .Name sl-icon {
  font-size: var(--sl-font-size-small);
  line-height: var(--sl-font-size-small);
}

nav .new-button:hover,
.save-button:hover {
  color: #151515;
  background-color: var(--primary)
}

nav .del-button sl-icon {
  font-size: 13px;
  font-weight: bolder;
}

nav .del-button:hover {
  background-color: #e04848
}

.color-format::part(combobox) {
  width: 70px;
  min-height: 20px;
  padding: 0 5px;
  gap: 2px;
  box-shadow: none;
}

.color-format::part(listbox) {
  padding: 0;
  margin-top: 2px
}

.color-format sl-option::part(base) {
  font-size: var(--sl-font-size-small);
  padding: 0
}

nav .bottom button {
  font-size: var(--sl-font-size-small);
  padding: 1px 5px;
  border-radius: var(--sl-border-radius-small);
}

nav .Slider {
  width: 75%;
  max-width: 300px;
  margin: 0 0 8px 0
}

.rc-slider-rail,
.rc-slider-step {
  height: 2px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  width: 7px;
  height: 12px;
  top: 5px;
  border: none;
  border-radius: var(--sl-border-radius-medium);
  opacity: 1;
}

.rc-slider-handle:hover {
  background-color: var(--primary);
}

.rc-slider-handle-dragging {
  background-color: var(--primary) !important;
  box-shadow: none !important;
}

.rc-slider-dot {
  bottom: -2px;
  width: 1px;
  height: 4px;
  border: none;
  border-radius: 0;
}

.rc-slider-mark {
  top: 12px;
  font-size: var(--sl-font-size-2x-small)
}
