.NewPalette {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  background-color: #151515;
}

.newPalette-colors {
  align-self: auto;
  padding: 1 auto;
  padding-top: 65px;
  width: 100%;
  height: min-content;
  display: flex;
  flex-wrap: wrap;
  animation: fadeIn .3s ease-in-out;
}

.NewBox {
  width: 160px;
  height: 160px;
  position: relative;
  /* cursor: pointer; */
}

.NewBox .delete-icon {
  display: none;
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 4;
  cursor: pointer;
}

.NewBox:hover .delete-icon {
  display: block
}

.NewBox .picker::part(trigger) {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  border: none
}

.NewBox .picker::part(trigger)::before {
  box-shadow: none;
}

.NewBox:hover .picker::part(trigger)::after {
  opacity: 1
}

.NewBox .picker::part(trigger)::after {
  content: 'pick';
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  opacity: 0;
}

.NewBox .details {
  width: 100%;
  font-size: var(--sl-font-size-small);
  line-height: var(--sl-font-size-small);
  position: absolute;
  padding: 2px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  cursor: pointer;
}

.NewBox .details .color-name {
  text-wrap: nowrap;
  overflow: hidden
}

.NewBox .details sl-icon {
  font-size: var(--sl-font-size-x-small);
  display: none;
}

.NewBox:hover .details sl-icon {
  display: block;
}

@keyframes fadeIn {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

/* huge */
@media screen and (min-width: 1821px) {
  .newPalette-colors {
    padding-left: calc((100vw - 6 * 160px) / 2);
    padding-right: calc((100vw - 6 * 160px) / 2)
  }
}

/* large */
@media screen and (max-width: 1820px) {
  .newPalette-colors {
    padding-left: calc((100vw - 5 * 160px) / 2);
    padding-right: calc((100vw - 5 * 160px) / 2)
  }
}

/* medium */
@media screen and (max-width: 1024px) {
  .newPalette-colors {
    padding-left: calc((100vw - 4 * 160px) / 2);
    padding-right: calc((100vw - 4 * 160px) / 2)
  }
}

/* small */
@media screen and (max-width: 767px) {
  .newPalette-colors {
    padding-left: calc((100vw - 3 * 160px) / 2);
    padding-right: calc((100vw - 3 * 160px) / 2)
  }
}

/* tiny */
@media screen and (max-width: 480px) {
  .newPalette-colors {
    padding-left: calc((100vw - 2 * 160px) / 2);
    padding-right: calc((100vw - 2 * 160px) / 2)
  }
}
