.NewPalette {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  background-color: #151515;
}

.newPalette-colors {
  padding: 95px 0 50px 0;
  height: min-content;
  display: flex;
  flex-wrap: wrap;
  animation: all .3s ease-in-out;
}

.NewBox {
  width: 180px;
  height: 180px;
  position: relative;
  cursor: grab;
}

.NewBox:active {cursor: grabbing}

.NewBox .delete-icon {
  display: none;
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 4;
  cursor: pointer;
}

.NewBox:hover{
   .delete-icon, .picker-icon {display: block}
}

.NewBox .picker-icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.NewBox .details {
  width: 100%;
  font-size: var(--sl-font-size-small);
  line-height: var(--sl-font-size-small);
  position: absolute;
  padding: 2px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  cursor: pointer;
}

.NewBox .details .color-name {
  text-wrap: nowrap;
  overflow: hidden
}

.NewBox .details sl-icon {
  font-size: var(--sl-font-size-x-small);
  display: none;
}

.NewBox:hover .details sl-icon {
  display: block;
}

.NewBox sl-icon {
  transition: all 0.3s ease-in-out;
}

/* monitor */
@media screen and (min-width: 1501px) {
  .newPalette-colors {
    width: calc(5 * 180px);
  }
}

/* laptop */
@media screen and (max-width: 1500px) {
  .newPalette-colors {
    width: calc(4 * 180px);
  }
}

/* small laptop */
@media screen and (max-width: 1140px) {
  .newPalette-colors {
    width: calc(4 * 180px);
  }
}

/* tablet */
@media screen and (max-width: 940px) {
  .newPalette-colors {
    width: calc(4 * 180px);
  }
}

/* small tablet */
@media screen and (max-width: 740px) {
  .newPalette-colors {
    width: calc(3 * 180px);
  }
}

/* phone */
@media screen and (max-width: 540px) {
  .newPalette-colors {
    width: calc(2 * 180px);
  }
}

/* small phone */
@media screen and (max-width: 359px) {
  .newPalette-colors {
    width: calc(1 * 180px);
  }
}
