.Palette {
  height: 100vh;
  width: 100vw;
  background-color: #151515;
  overflow-y: scroll;
  position: relative;
}

.palette-colors {
  width: 100%;
  padding: 85px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  animation: all .3s ease-in-out;
}

/* huge */
@media screen and (min-width: 1821px) {
  .Palette {
    padding: 0 calc((100vw - 6 * 160px) / 2);
  }
}

/* large */
@media screen and (max-width: 1820px) {
  .Palette {
    padding: 0 calc((100vw - 5 * 160px) / 2);
  }
}

/* medium */
@media screen and (max-width: 1024px) {
  .Palette {
    padding: 0 calc((100vw - 4 * 160px) / 2);
  }
}

/* small */
@media screen and (max-width: 767px) {
  .Palette {
    padding: 0 calc((100vw - 3 * 160px) / 2);
  }
}

/* tiny */
@media screen and (max-width: 480px) {
  .Palette {
    padding: 0 calc((100vw - 2 * 160px) / 2);
  }
}
