nav .top, .bottom {
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
  z-index: 1;
  gap:5px;
}

nav .top {
  padding: 10px;
  min-height: min-content;
  justify-content: space-between;
}

nav .bottom {
  height: min-content;
  background-color: #151515;
  justify-content: center;
  align-items: center;
}

.nav-part {
  display: flex;
  gap: 10px;
}

nav .back-button, .home-button {
  border: none;
  outline: none;
  display: flex;
  background: none;
  color: white;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}

nav .back-button:hover, .home-button:hover {
  color: #76ced7
}

.color-format {
  font-size: .9rem;
  font-weight: 600;
  color: #fff;
  background-color: #353535;
  border-radius: 4px;
  padding: 0 5px;
  width: 30%;
  max-width: 70px;
  z-index: 1;
}

.color-format sl-option {
  display: flex;
  padding: 0 5px;
  background-color: #353535;
}

.color-format sl-option:hover {
  color: #76ced7;
  background-color: #1f1f1f;
}

nav .Slider {
  width: 75%;
  max-width: 250px;
  margin: 2px 0 8px 0
}

.rc-slider-rail,
.rc-slider-step {
  height: 2px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  width: 7px;
  height: 12px;
  top: 5px;
  outline: none;
  border: none;
  border-radius: 3px;
  opacity: 1;
  box-shadow: none;
}

.rc-slider-handle:hover {background-color: #76ced7;}

.rc-slider-handle-dragging {
  background-color: #76ced7 !important;
  box-shadow: none !important;
}

.rc-slider-dot {
  bottom: -2px;
  width: 1px;
  height: 4px;
  border: none;
  border-radius: 0;
}

.rc-slider-mark {top:12px; font-size: 8px}
