body {
  margin: 0;
  font-family: 'SauceCodePro Nerd Font', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tooltip{background: '#fff'}

nav {
  min-height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: 'space-between';
  gap: 15%;
  color: white;
  background-color: black;
}

.Palette {
  height: 100vh
}

.palette-colors {
  height: 90%
}

.ColorBox {
  height: 25%;
  width: 20%;
  margin: 0 auto;
  font-size: 12%;
  display: inline-block;
  position: relative;
  margin-bottom: -4.5px;
  text-transform: uppercase;
}

.ColorBox:hover .copy-button {
  opacity: 1;
  transition: .5s ;
}

.copy-button {
  opacity: 0;
  position: absolute;
  display: inline-block;
  text-align: center;
  top: 50%;
  right: 50%;
  transform: translate(25%, -100%);
  color: #000;
  font-size: 15px;
}

.see-more {
  width: 100%;
  font-size: 12px;
  color: black;
  background: #ffffff33;
  position: absolute;
  bottom: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer
}

.see-more .color-name { width: calc(100% - 10px); text-wrap: nowrap; overflow: hidden; }

.see-more .btn {width: 10px; text-align: center;}
